<div class="flex items-center justify-center mx-auto container text-lg">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">
            <span class="mr-2"><i class="fas fa-arrow-circle-left fa-lg"></i></span>
        </a>
    {% else %}
        <span class="mr-2"><i class="fas fa-arrow-circle-left fa-lg"></i></span>
    {% endif %}

    {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number is p %}
            <span class="text-red-500 mr-1 ml-1">{{ p }}</span>
        {% else %}
            <span class="mr-1 ml-1"><a href="?page={{ p }}">{{ p }}</a></span>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            <span class="ml-2"><i class="fas fa-arrow-circle-right fa-lg"></i></span>
        </a>
    {% else %}<span class="ml-2"><i class="fas fa-arrow-circle-right fa-lg"></i></span>
    {% endif %}
</div>