{% extends "base.html" %}

{% block page_title %}{{ room.name }}'s PHOTOS{% endblock %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto my-16 flex flex-col">

        {% for photo in room.photos.all %}
            <div class="mb-5 border p-6 border-gray-400 flex justify-between">
                <div class="flex item-start">
                    <img src="{{ photo.file.url }}" class="w-32 h-32"/>
                    <span class="ml-5 text-xl">{{ photo.caption }}</span>
                </div>
                <div class="flex flex-col w-1/5">
                    <a href="" class="btn-link mb-5 bg-indigo-400">EDIT</a>
                    <a href="{% url 'rooms:delete-photo' room.pk photo.pk %}" class="btn-link">DELETE</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock content %}