@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white px-2 h-full flex items-center;
  a {
    @apply py-10 px-5;
  }

  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply w-full font-medium rounded text-center py-5 mb-2;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-400;
}

input,
textarea {
  @apply w-full font-medium rounded text-center py-5 text-left border border-gray-700 px-5;
  &:focus {
    @apply outline-none bg-teal-200;
  }
}

textarea {
  resize: none;
  height: 100px;
}

select {
  @apply w-full font-medium rounded text-center text-left border border-gray-700 px-5;
  height: 50px;
}

form {
  .input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  5% {
    opacity: 1;
    transform: translateY(25px);
  }
  95% {
    opacity: 1;
    transform: translateY(25px);
  }
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;

  &.error {
    @apply bg-red-500 w-auto;
    }

  &.success {
    @apply bg-indigo-400 w-auto;
    }

  &.info {
    @apply bg-green-400 w-auto;
    }

  &.warning {
    @apply bg-yellow-400 w-auto;
    }
}

@tailwind utilities;
