@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white px-2 h-full flex items-center;
  a {
    @apply py-10 px-5;
  }

  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply w-full font-medium rounded text-center py-5 mb-2;
}

input {
  @apply w-full font-medium rounded text-center py-5 text-left border border-gray-700 px-5;
}

form {
  .input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  5% {
    opacity: 1;
    transform: translateY(25px);
  }
  95% {
    opacity: 1;
    transform: translateY(25px);
  }
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;

  &.error {
    @apply bg-red-200
    }

  &.success {
    @apply bg-blue-200
    }

  &.info {
    @apply bg-green-400
    }

  &.warning {
    @apply bg-yellow-300
    }
}

@tailwind utilities;
